<div class="container">
  <h2 class="mt-5 text-center">B(ook)rain</h2>
  <div class="row align-items-center m-5">
    <div class="col-lg text-center mb-5">
      <%= attachment_image_tag @user, :image, :size => '200x200'%>
    </div>
    <div class="col-lg">
      <table class="table">
        <tr>
          <th>ユーザー名</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>最近のお気に入り</th>
          <td><%= @user.favorite %></td>
        </tr>
      </table>
      <div class="d-flex justify-content-around">
        <p><%= link_to "編集する", edit_users_path(@user.id), class:"btn btn-success" %></p>
        <p><%= link_to "メモ一覧へ", books_path, class:"btn btn-outline-secondary" %></p>
      </div>
    </div>
  </div>
</div>