<div class="container">
  <h2 class="my-5">メモ一覧</h2>
  <table class="table">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>巻数</th>
        <th>ページ</th>
        <th>ジャンル</th>
        <th>通読状況</th>
        <th>最後に読んだ日</th>
      </tr>
      <tbody>
        <% @books.each do |order| %>
        <tr>
          <td>
            <%= link_to book_path do%>
              <%= book.title%>
            <% end %>
          </td>
          <td><%= book.turn%></td>
          <td><%= book.page%></td>
          <td><%= book.genre%></td>
          <td><%= book.read_situation%></td>
          <td><%= book.last_day%></td>
        </tr>
        <% end %>
      </tbody>
    </thead>
  </table>
    <div class="col-sm-2 px-sm-0 text-right mt-5">
      <%= link_to "メモ登録", new_book_path, class:"btn btn btn-outline-secondary" %>
        <i class="fas fa-plus fa-2x "></i>
    </div>
</div>