<div class="container">
  <h3 class="mt-5 text-center">メモ詳細</h3>
  <div class="row align-items-center m-5">
    <div class="col-lg text-center mb-5">
      <%= attachment_image_tag @book, :image, :size => '200x300'%>
    </div>
    <div class="col-lg">
      <table class="table">
        <tr>
          <th>タイトル</th>
          <td><%= @book.title %></td>
        </tr>
        <tr>
          <th>巻数</th>
          <td><%= @book.turn %></td>
        </tr>
        <tr>
          <th>ページ数</th>
          <td><%= @book.page %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @book.genre %></td>
        </tr>
        <tr>
          <th>通読状況</th>
          <td><%= @book.read_situation %></td>
        </tr>
        <tr>
          <th>最後に読んだ日</th>
          <td><%= @book.last_day %></td>
        </tr>
        <tr>
          <th>内容</th>
          <td><%= @book.content %></td>
        </tr>
      </table>
      <div class="d-flex justify-content-around">
        <p><%= link_to '編集', edit_book_path(@book.id), class: "btn btn-success" %></p>
        <p>
          <%= link_to "削除", book_path(@book.id),
            class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか?" %>
        </p>
        <p><%= link_to "メモ一覧へ戻る", books_path, class:"btn btn-outline-secondary"%></p>
      </div>
    </div>
  </div>
</div>