<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%#= render "users/user_info", user: @user %>
      <%#= render "books/new_book", book: Book.new %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h3>メモ詳細</h1>
      <table class="books_table">
        <tr>
          <td class="books_td">
            <%= link_to user_path(@user.id) do %>
              <%= attachment_image_tag @book.user, :profile_image,
                format: "jpeg", fallback: "no_image.jpg", size: "50x50" %><br>
              <%= @user.name %>
            <% end %>
          </td>
          <td>
            <%= link_to @book.title, book_path(@book.id) %>
          </td>
          <td>
            <%= @book.body %>
          </td>
          <% if @book.user_id == current_user.id %>
            <td>
              <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %>
            </td>
            <td>
              <%= link_to "Destroy", book_path(@book.id),
                class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか?" %>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>